@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

body {
  padding-top: 100px;
  background: #eaeaea url('../img/bg.png');
}

.center {
  text-align: center;
}
.yellow {
  color: #f39c12;
}

.red {
  color: #e74c3c;
}
i {
  cursor: pointer;
}

.statuses-list li{
  margin-bottom: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

.statuses-list .input-group {
  width: 90%;
  margin: 0 auto;
}

.table-striped th,
.table-striped td {
  background: white;
}

th {
  cursor: pointer;
}