<!doctype html>
<html ng-app="CodusApp">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script src="http://cdn.firebase.com/v0/firebase.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="http://cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/app.css" rel="stylesheet"/>
    <script src="scripts/app.js"></script>
    <title>Codus imoveis</title>
  </head>
  <body ng-controller="PropertiesController">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <span class="navbar-brand">Codus Im&oacute;veis</span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-9">
          <!-- Property CRUD -->
          <div class="well">
            <legend ng-hide="newProperty.$id">Adicionar im&oacute;vel</legend>
            <legend ng-show="newProperty.$id">Editar im&oacute;vel</legend>
            <form class="form-horizontal">
              <div style="float: left; width: 29%;">
                <div class="form-group">
                  <label class="control-label">Site</label>

                  <input type="text" class="form-control" ng-model="newProperty.url"/>

                </div>
                <div class="form-group">
                  <label class="control-label">Endereco</label>

                  <input type="text" class="form-control" ng-model="newProperty.address"/>

                </div>
                <div class="form-group">
                  <label class="control-label">Status</label>
                  <select class="form-control" ng-model="newProperty.statusId">
                    <option ng-repeat="(id, propertyStatus) in propertyStatuses" value="{{id}}">{{propertyStatus.name}}</option>
                  </select>
                </div>
              </div> <!-- float left -->

              <div style="float: left; margin-left: 5%; width: 29%;">
                <div class="form-group">
                  <label class="control-label">Tamanho</label>
                  <input type="text" class="form-control" only-number ng-model="newProperty.size"/>
                </div>
                <div class="form-group">
                  <label class="control-label">OBS</label>
                  <textarea type="text" rows="5" class="form-control" ng-model="newProperty.notes">
                  </textarea>
                </div>
              </div> <!-- float left -->
              <div style="float: left; margin-left: 5%; width: 29%;">
                <div class="form-group">
                  <label class="control-label">Aluguel</label>
                  <div class="input-group">
                    <span class="input-group-addon">R$</span>
                    <input type="text" class="form-control" only-number only-number-float ng-model="newProperty.rent"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label">Condominio</label>
                  <div class="input-group">
                    <span class="input-group-addon">R$</span>
                    <input type="text" class="form-control" only-number only-number-float ng-model="newProperty.condominium"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label">IPTU</label>
                  <div class="input-group">
                    <span class="input-group-addon">R$</span>
                    <input type="text" class="form-control" only-number only-number-float ng-model="newProperty.iptu"/>
                  </div>

                </div>
                <div class="form-group">

                  <button type="submit" class="btn pull-right btn-primary" ng-hide="newProperty.$id" ng-click="addProperty()">Adicionar</button>
                  <button type="submit" class="btn pull-right btn-primary" ng-show="newProperty.$id" ng-click="updateProperty()">Salvar</button>
                  <button class="btn btn-default pull-right" style="margin-right: 10px" ng-click="resetPropertyForm()">Cancelar</button>
                  <div class="clearfix"></div>
                </div>
              </div> <!-- float right -->
              <div class="clearfix"></div>
            </form>
          </div> <!-- well -->
        </div> <!-- col-xs-9 -->
        <!-- Property CRUD END -->
        <div class="col-xs-3">

          <!-- STATUS CRUD -->
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Status</h3>
            </div>
            <div class="panel-body">
              <form class="form-horizontal" ng-submit="addPropertyStatus()">
                <div class="form-group">
                  <label class="col-lg-3 control-label">Nome</label>
                  <div class="col-lg-9">
                    <input type="text" class="form-control" placeholder="Novo status" ng-model="newPropertyStatusName"/>
                  </div>
                </div>
              </form>
              <ul class="statuses-list form-horizontal">
                <li ng-repeat="(id, propertyStatus) in propertyStatuses" class="form-group">
                  <div class="input-group">

                    <input type="text" class="form-control" ng-model="propertyStatus.name" ng-change="propertyStatuses.$save(id)"/>
                    <span class="input-group-btn">
                      <button class="btn btn-danger" ng-click="removePropertyStatus(id)">X</button>
                    </span>
                  </div>

                </li>
              </ul>
            </div> <!-- panel body -->
          </div> <!-- panel -->
        </div> <!-- col-xs-9 -->
      </div> <!-- row -->
      <div class="row">
        <div class="col-xs-12">
          <!-- Property list  -->
          <div ng-repeat="(propertyStatusId, propertyStatus) in propertyStatuses">
            <h3>{{propertyStatus.name}}</h3>
            <table class="table table-striped table-bordered">
              <thead>
                <th class="center" style="width: 30%;">OBS</th>
                <th class="center" style="width: 20%;">Local</th>
                <th class="center cursor-pointer" style="width: 5%;" ng-click="orderPredicate='size'; orderReverse=!orderReverse;">M2</th>
                <th class="center cursor-pointer" style="width: 5%;" ng-click="orderPredicate='rent'; orderReverse=!orderReverse;">Aluguel</th>
                <th class="center cursor-pointer" style="width: 5%;" ng-click="orderPredicate='condominium'; orderReverse=!orderReverse;">Cond.</th>
                <th class="center cursor-pointer" style="width: 5%;" ng-click="orderPredicate='iptu'; orderReverse=!orderReverse;">IPTU</th>
                <th class="center cursor-pointer" style="width: 5%;" ng-click="orderPredicate='total'; orderReverse=!orderReverse;">Total</th>
                <th class="center cursor-pointer" style="width: 5%;" ng-click="orderPredicate='totalPerM2'; orderReverse=!orderReverse;">R$/2</th>
                <th class="center" style="width: 10%;">A&ccedil;&otilde;es</th>
              </thead>
              <tbody>
                <tr ng-repeat="property in properties | orderByPriority | filter: {statusId: propertyStatusId} | orderBy:orderPredicate:orderReverse">
                  <td class="center">{{property.notes}}</td>
                  <td class="center">{{property.address}}</td>
                  <td class="center">{{property.size}}</td>
                  <td class="center">{{property.rent}}</td>
                  <td class="center">{{property.condominium}}</td>
                  <td class="center">{{property.iptu}}</td>
                  <td class="center">{{property.total}}</td>
                  <td class="center">{{property.totalPerM2}}</td>
                  <td class="center">
                    <i class="glyphicon glyphicon-trash red" ng-click="removeProperty(property.$id)"></i>
                    <i class="glyphicon glyphicon-edit yellow" ng-click="editProperty(property.$id)"></i>
                    <a ng-href="{{property.url}}" target="_blank">
                      <i class="glyphicon glyphicon-globe"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> <!-- ng-repeat propertyStatuses -->
        </div> <!-- col-xs-12 -->
      </div> <!-- row -->
    </div> <!-- container -->
  </body>
</html>