<!doctype html>
<html ng-app="CodusApp">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="app.css" rel="stylesheet">
    <script src="app.js"></script>
  </head>
  <body ng-controller="PropertiesController">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">Codus Im&oacute;veis</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-3">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Status</h3>
            </div>
            <div class="panel-body">
              <h4>Status existentes</h4>
              <form class="form-horizontal" ng-submit="addPropertyStatus()">
                <div class="form-group">
                  <label class="col-lg-3 control-label">Nome</label>
                  <div class="col-lg-9">
                    <input type="text" class="form-control" placeholder="Novo status" ng-model="newPropertyStatusName"/>
                  </div>
                </div>
              </form>
              <ul class="statuses-list form-horizontal">
                <li ng-repeat="(id, propertyStatus) in propertyStatuses" class="form-group">
                  <div class="col-lg-10">
                    <input type="text" class="form-control" ng-model="propertyStatus.name" ng-change="propertyStatuses.$save(id)"/>
                  </div>
                  <label class="col-lg-2 control-label">
                    <button class="btn btn-xs btn-danger" ng-click="removePropertyStatus(id)">X</button>
                  </label>


                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-9">
          <div ng-repeat="propertyStatus in propertyStatuses">
            <h2>{{propertyStatus}}</h2>
            <table>
              <thead>
                <th>Nome</th>
              </thead>
              <tbody>
                <tr ng-repeat="property in properties">
                  <td>{{property.name}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>